<h1>
  Your Flashcards
</h1>

<hr>

<article>
  <div class="quiz-layout">
    <div class="quiz-box">
      <h4>Question #<%= @the_question.id%></h4>
      <p><%= @the_question.content %></p>
    </div>

    <div class="quiz-box answer-box">
      <h4>Answer (Hover to Reveal)</h4>
      <p class="hover-answer"><%= @the_question.content_answer %></p>
    </div>

  </div>

  <div class="quiz-buttons">
    <form action="/mark_correct" method="post">
      <input type="hidden" name="question_id" value="<%= @the_question.id %>">
      <input type="hidden" name="current_index" value="<%= @current_index %>">
      <button>Correct</button>
    </form>

    <form action="/mark_incorrect" method="post">
      <input type="hidden" name="question_id" value="<%= @the_question.id %>">
      <input type="hidden" name="current_index" value="<%= @current_index %>">
      <button>Incorrect</button>
    </form>
  </div>
</article>
