<h1>
  List of all questions
</h1>

<hr>


<article>
  <header>
    <h2>
      Select your questions to include in your flashcards
    </h2>
  </header>

  <form action="/start_quiz" method="post">
    <table>
      <tr>
        <th>Include?</th>
        <th>Section</th>
        <th>Question</th>
      </tr>
        
      <% @list_of_questions.each do |a_question| %>
      <tr>
        <td><input type="checkbox" name="use_question_<%= a_question.id %>" value="yes"></td>
        <td><%= a_question.gmat_section %></td>
        <td><%= a_question.content %></td>
      </tr>
      <% end %>
    </table>

  <button name="destination" value="quiz">Start Flashcards</button>
  <button name="destination" value="audio">Start Audio Flashcards</button>
</form>

</form>
</article>

# below text is from generator

<article>
  <header>
    <h2>
      Add a new question
    </h2>
  </header>

  <form action="/insert_question" method="post">
    <div>
      <label for="content_box">
        Content
      </label>

      <input type="text" id="content_box" name="query_content">
    </div>

    <div>
      <label for="audio_content_and_answer_box">
        Audio content and answer
      </label>

      <input type="text" id="audio_content_and_answer_box" name="query_audio_content_and_answer">
    </div>

    <div>
      <label for="content_answer_box">
        Content answer
      </label>

      <input type="text" id="content_answer_box" name="query_content_answer">
    </div>

    <div>
      <label for="gmat_section_box">
        Gmat section
      </label>

      <input type="text" id="gmat_section_box" name="query_gmat_section">
    </div>

    <button type="submit">
      Create question
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_questions.each do |a_question| %>
      <li>
        <a href="/questions/<%= a_question.id %>">
          Question #<%= a_question.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
