<h1>
  Question #<%= @the_question.id %> details
</h1>

<article>
  test content
</article>




<article>
  <div>
    <a href="/questions">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_question/<%= @the_question.id %>">
      Delete question
    </a>
  </div>
  <dl>
    <dt>
      Content
    </dt>
    <dd>
      <%= @the_question.content %>
    </dd>

    <dt>
      Audio content and answer
    </dt>
    <dd>
      <%= @the_question.audio_content_and_answer %>
    </dd>

    <dt>
      Content answer
    </dt>
    <dd>
      <%= @the_question.content_answer %>
    </dd>

    <dt>
      Gmat section
    </dt>
    <dd>
      <%= @the_question.gmat_section %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_question.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_question.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit question
    </h2>
  </header>

  <form action="/modify_question/<%= @the_question.id %>"  method="post" >
    <div>
      <label for="content_box">
        Content
      </label>

      <input type="text" id="content_box" name="query_content" value="<%= @the_question.content %>">
    </div>

    <div>
      <label for="audio_content_and_answer_box">
        Audio content and answer
      </label>

      <input type="text" id="audio_content_and_answer_box" name="query_audio_content_and_answer" value="<%= @the_question.audio_content_and_answer %>">
    </div>

    <div>
      <label for="content_answer_box">
        Content answer
      </label>

      <input type="text" id="content_answer_box" name="query_content_answer" value="<%= @the_question.content_answer %>">
    </div>

    <div>
      <label for="gmat_section_box">
        Gmat section
      </label>

      <input type="text" id="gmat_section_box" name="query_gmat_section" value="<%= @the_question.gmat_section %>">
    </div>

    <button type="submit">
      Update question
    </button>
  </form>
</article>

<hr>
